body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}
nav{
  display: flex;
  align-items: baseline;
}
ul{
  display: inline;
}
li {
  list-style: none;
  width: 100%;
  display: inline;
}

.left {
  padding: .8rem;
  padding-left: 1.5rem;
}

.right{
  display: flex;
  justify-content: space-around;
  margin-left: 8rem;
  padding-left: 1.5rem;
}
