/*
#e12071 pink background
#fd4a2c orange background

#ff5021 Orange text
#ff9696 pink text
#fd4a2c maroon text
#fd4a2c bottom maroon text
 */
 /* This resets the margin and padding for everything as well as makes all elements
     true border the border box, and not the margin, or anything else. */
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  white-space: nowrap;
}
.logo {
  height: 1.5rem;
}
nav > ul > li > a:hover {
  border-bottom: 3px solid #e12071;
  color: #800000;
}
a[class="white"] {
  margin-left: 4rem;
}
.wrapper {
  display: flex;
  padding: 1rem;
}

.nav-left{
  display: flex;
  align-items: center;
}
.orange{
  color: #fd4a2c;
}
.nav-right{
  display: flex;
  margin-left: 15rem;
  align-items: baseline;
}
.pink{
  color: #e12071;
}
li{
  list-style: none;
  padding-left: 1.5rem;
}
.upper{
  text-transform: uppercase;
}
#border{
  border-top: 3px dashed #800000;
  border-bottom: 3px dashed #800000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.btn{
  text-transform: uppercase;
  padding: .8rem 1.3rem;
  border-radius: 6px;
  border: none;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  color: orange
}
.btn:hover{
  color:#fd4a2c;
}
#price{
  display: inline;
  margin: 0 2rem;
}
.header-left{
  height: 100%;
  padding: 2rem 0;
}
.header-right{
  height: : 100%;
  padding: 2rem 4rem;
}
#main-shoe{
  height: 18em;
  margin-top: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.white{
  color: white;
}
.maroon{
  color: #800000;
}
header{
  background: linear-gradient(to right, red, pink);
  color: white;
}
.details-wrapper{
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid pink;
}
.details-left{
  display: flex;
}
.details-right{
  margin-left: 40rem;
}
main{
  padding: 3rem;
}
.inline{
  display: inline;
}
.p-2{
  padding: 2rem;
}
.p-tb-1{
  padding: 1rem 0;
}
.footer-h1{
  text-align: center;
  background-color: pink;
  padding:1rem 0;
}
.link-padding {
  padding-top: 2rem;
}
footer{
  background-color: red;
  color: white;
}
.shoe2{
  width: 18em;
}
.shoe-details{
  margin: 2em 3em;
}
div > h2 {
  display: inline;
}
.footer-price{
  float: right;
}
